@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #fff5f5;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul > li {
    list-style: none;
}

h1 {
    margin: 120px 0 0;
    padding-bottom: 53px;
    font-size: 48px;
    color: #000;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    color: #000;
    font-weight: 800;
}

input[type="text"],
input[type="phone"],
input[type="email"] {
    width: 100%;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
}

span {
position: relative;
}

.body {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.logotype {
    position: relative;
    left: 75px;
    top: -65px;
    font-size: 24px;
    color: #000;
    font-weight: 800;
    font-family: "Montserrat";
}

.nav-menu {
    margin: 20px 0;
}

.head-navigation > li > a {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    transition: all .5s ease;
}

.head-navigation > li:hover > a {
    color: #e87e7e;
}

.lang {
    column-gap: 10px;
    text-transform: uppercase;
}

.main-head {
    position: relative;
}

.main-head::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    height: 228px;
    border-left: 2px solid #f79b9b;
}

.main-head::before {
    content: "";
    position: absolute;
    top: 63%;
    left: 0;;
    height: 228px;
    border-left: 2px solid #f79b9b;
}

.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
}

a.inst {
    position: absolute;
    top: 43%;
    left: -0.5%;
    height: 15px;
    width: 15px;
    background-position: -13px -2px;
}

li:hover>.inst {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

a.fb {
    position: absolute;
    top: 48%;
    left: -0.3%;
    height: 14px;
    width: 9px;
    background-position: -2px -2px;
}

li:hover>.fb {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

a.pint {
    position: absolute;
    top: 53%;
    left: -0.4%;
    height: 14px;
    width: 12px;
    background-position: -30px -2px;
}

li:hover>.pint {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

a.telegram {
    position: absolute;
    top: 57%;
    left: -0.6%;
    height: 13px;
    width: 15px;
    background-position: -44px -2px;
}

li:hover>.telegram {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

.main-info h1::before {
    content: "";
    position: absolute;
    top: 77px;
    left: 46%;
    width: 89px;
    height: 92px;
    background: url(../img/paintbrush-head.svg) no-repeat;
}

.main-info h1::after {
    content: "";
    position: absolute;
    top: 164px;
    left: 42%;
    width: 60px;
    border-bottom: 2px solid ;
}

.main-info p {
    margin: 0;
    margin-right: 600px;
    font-size: 24px;
    color: #000;
    font-weight: 700;
}

.button-main {
    margin: 61px 0;
    justify-content: flex-start;
    column-gap: 62px;
}

.butt-first a {
    display: inline-block;
    padding: 28px 114px;
    border-radius: 40px;
    filter: drop-shadow(0px 1px 49px rgba(234,131,131,0.34));
    background-image: linear-gradient(0deg, #e77d7d 0%, #f89e9e 99%, #f89e9e 100%);
    font-size: 24px;
    color: #000;
    font-weight: 800;
    font-family: "Montserrat";
    filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.42));
    transition-duration: 1s;
}

.butt-first a:hover {
    border-color: transparent;
    color: #fff;
    background-image: linear-gradient(0deg, #d6a0a0 0%, #ca7f7f 99%, #995252 100%);
}

.butt-play a {
    display: inline-block;
    padding: 24px 22px 22px 30px;
    border-radius: 50%;
    filter: drop-shadow(0px 1px 49px rgba(234,131,131,0.34));
    background-image: linear-gradient(0deg, #e77d7d 0%, #f89e9e 99%, #f89e9e 100%);
    filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.42));
    transition: all 2s ease;
}

.butt-play a:hover {
    background-image: linear-gradient(0deg, #d6a0a0 0%, #ca7f7f 99%, #995252 100%);
}

.butt-play:hover > .hide,
.butt-play a:hover > .line-b {
    display: block;
}

.hide {
    display: none;
}

.line-b {
    display: none
}

.line-b::before {
    position: absolute;
    content: "";
    top: -24px;
    left: 25px;
    width: 106px;
    height: 2px;
    border-bottom: 1px solid #000;
}

.line-b::after {
    position: absolute;
    content: "";
    top: -57px;
    left: 115px;
    width: 100px;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
}

.none {
    padding: 12px 40px;
    position: absolute;
    top: 52%;
    left: 50%;
    width: 115px;
    height: 78px;
    background-color: #fff;
    border-radius: 20px;
}

.none p {
    margin: 0;
    padding: 8px 0 0;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.main-bcg {
    position: absolute;
    top: 70px;
    left: 53%;
    width: 100%;
    height: 750px;
    background: url(../img/bcg-img-pink.svg) no-repeat;
    background-size: 50%;
}

.main-bcg-second {
    position: absolute;
    top: 70px;
    left: 48%;
    width: 100%;
    height: 750px;
    background: url(../img/bcg-img-pink.svg) no-repeat;
    background-size: 50%;
}

.main-bcg-second-foto {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 100%;
    height: 750px;
    background: url(../img/bcg-f.png) no-repeat;
    background-size: 50%;
}

.buble {
    position: absolute;
    background-color: #f0d8d8;
    border-radius: 50%;
}

.buble-main-big {
    top: 12%;
    right: 5%;
    width: 70px;
    height: 78px;
}

.buble-main-midle {
    top: 12%;
    right: 45%;
    width: 30px;
    height: 38px;
}

.buble-main-midle-two {
    top: 15%;
    right: 52%;
    width: 30px;
    height: 38px;
}

.buble-main-midle-three {
    top: 3%;
    right: 10%;
    width: 30px;
    height: 38px;
}

.buble-big {
    top: 32%;
    right: 0;
    width: 300px;
    height: 300px;
}

.buble-large,
.buble-midle,
.buble-small,
.buble-min-two {
    width: 35px;
    height: 38px;
}

.buble-large {
    top: 18%;
}

.buble-small {
    top: 28%;
    left: 10%;
}

.buble-midle {
    top: 18%;
    left: 53%;
}

.buble-min {
    width: 25px;
    height: 25px;
    top: 28%;
    right: 41%;
}

.buble-min-two {
    top: 33%;
    left: 20%;
}

.about-menu {
    margin: 150px auto;
}

.block-img {
    margin: 100px 0;
    position: relative;
}

.border-block-img {
    position: absolute;
    background: url(../img/block.jpg) no-repeat;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px -7px 0 rgba(231, 125, 125), 15px -12px 0 rgba(239, 215, 215);
}

.small-block-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 135px;
    height: 330px;
    background-position: -10px -68px;
}

.middle-block-img {
    position: absolute;
    top: -40px;
    left: 145px;
    width: 144px;
    height: 411px;
    background-position: -201px -68px;
}

.large-block-img {
    position: absolute;
    top: -100px;
    left: 300px;
    width: 170px;
    height: 500px;
    box-shadow: top / left (5px 5px) ;
    background-position: -400px -8px;
}

.middle-block-img-sec {
    position: absolute;
    top: -40px;
    left: 480px;
    width: 144px;
    height: 411px;
    background-position: -591px -80px;
}

.small-block-img-sec {
    position: absolute;
    top: 0;
    left: 635px;
    width: 135px;
    height: 330px;
    background-position: -746px -120px;
}

.about-list h2 {
    margin: 0;
    padding: 0 0 55px 50px;
}

.about-list ul  {
    padding-left: 95px;
}

.about-list ul > li {
    margin: 0;
    padding-bottom: 43px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.pen {
    position: relative;
}

.pen::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -40px;
    width: 32px;
    height: 32px;
    background: url(../img/paintbrush-list.svg);
}

.scrollbar {
    padding: 0 40px;
    scrollbar-width: 500px;
}

.scrollbar {
    overflow-x: scroll;
}

.scrollbar::-webkit-scrollbar {
    background-image: linear-gradient( transparent 45%, #efd7d7 55%, #efd7d7 65%, transparent 55%);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #e77d7d;
}

.buble-main-large-scroll {
    width: 27px;
    height: 34px;
    top: 48.5%;
    left: 5%;
}

.buble-main-midle-scroll {
    width: 25px;
    height: 26px;
    top: 48.5%;
    right: 10%;
}

.scroll h2 {
    text-align: center;
}

.scroll-img {
    position: relative;
    width: 126%;
}

.first-img,
.four-img,
.hidden-img {
    position: relative;
    margin: 75px 0 0;
    width: 433px;
    height: 650px;
    border-radius: 25px;
}

.first-img,
.hidden-img {
    background: url(../img/tiger.svg);
    background-position: -70px -45px;
}

.first-horizontal,
.second-horizontal {
    position: relative;
    padding-bottom: 35px;
    width: 610px;
    height: 363px;
}

.first-horizontal {
    background: url(../img/palm.svg) no-repeat;
}

.second-horizontal {
    background: url(../img/fall.svg) no-repeat;
}

.four-img {
    background: url(../img/screem.svg);
    background-position: -90px -55px;
}

.sale-form-position,
.lesson-form-position {
    position: relative;
    margin: 100px 0 0;
    padding: 50px 0 0 50px;
}

.buble-main-big-sale {
    top: 15%;
    left: 30%;
    width: 56px;
    height: 63px;
}

.buble-main-large-sale,
.buble-main-large-sale-two,
.buble-main-midle-sale,
.buble-main-midle-sale-two,
.buble-main-midle-sale-sec {
    top: 25%;
    left: 15%;
    width: 34px;
    height: 33px;
}

.buble-main-big-sale-two {
    top: 115%;
    left: 45%;
    width: 85px;
    height: 83px;
}

.buble-main-large-sale-two {
    top: 112%;
    left: 68%;
}

.buble-main-midle-sale {
    top: 25%;
    left: 45%;
}

.buble-main-midle-sale-two {
    top: 40%;
    left: 95%;
}

.buble-main-midle-sale-sec {
    top: 120%;
    left: 95%;
}

.buble-main-small-sale,
.buble-main-small-sale-two {
    top: 105%;
    left: 15%;
    width: 24px;
    height: 22px;
}

.buble-main-small-sale-two {
    top: 115%;
    left: 2%;
}

.buble-main-min-sale {
    top: 102%;
    left: 8%;
    width: 11px;
    height: 11px;
}

.back-color {
    position: absolute;
    width: 909px;
    height: 625px;
}

.pink-bcg-second,
.pink-bcg-second-last {
    top: 30%;
    left: -40px;
    background: url(../img/bcg-img-second-pink.svg) no-repeat;
}

.bcg-second-darkpink,
.bcg-second-darkpink-last {
    top: 32%;
    left: -40px;
    background: url(../img/bcg-img-second.svg) no-repeat;
}

.second-img-bcg {
    top: 34%;
    left: -30px;
    background: url(../img/second.png) no-repeat;
}

.sale-form {
    padding: auto 50px;
}

.send-form-sale h2,
.lesson-form-position h2{
    margin-bottom: 75px;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.lesson-form-position h2 {
    padding-left: 35px;
}

.send-form-sale {
    padding: 100px 0 0 100px;
    width: 550px;
    justify-content: flex-start;
    flex-direction: column;
}

.arrow {
    margin-bottom: 54px;
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 20px;
}

.arrow::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 35px;
    width: 11px;
    height: 11px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
}

.select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 25px;
    width: 100%;
    font-size: 16px;
    color: #afafaf;
    font-weight: 600;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #000;
    z-index: 1;
}

.buy-form {
    justify-content: flex-end;
}

.delete {
    padding: 12px 40px;
    font-size: 16px;
    color: #000;
    font-weight: 800;
    border-radius: 26px;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 1s ease;
    cursor: pointer;
}

.delete:hover {
    border-color: transparent;
    color: #fff;
    background-image: linear-gradient(0deg, #d6a0a0 0%, #ca7f7f 99%, #995252 100%);
}

.button-buy {
    width: 164px;
    padding: 12px 40px;
    font-size: 16px;
    color: #000;
    font-weight: 800;
    border-radius: 26px;
    background-image: linear-gradient(0deg, #e77d7d 0%, #f89e9e 99%, #f89e9e 100%);
    border: 1px solid #000000;
    transition: all 1s ease;
    cursor: pointer;
}

.button-buy:hover {
    border-color: transparent;
    color: #fff;
    background-image: linear-gradient(0deg, #d6a0a0 0%, #ca7f7f 99%, #995252 100%);
}

.lesson-form-position {
    padding-bottom: 200px;
}

.form-lesson {
    position: relative;
    width: 500px;
}

.focus-border-gr:focus {
    border: 1px solid #6cd87e;
}

.bcg-input {
    margin-bottom: 54px;
    background-color: #fff;
}

.focus-border-red:focus {
    border: 1px solid #d81b1b;
}

.lesson-flex {
    justify-content: flex-start;
    flex-direction: column;
}

.pink-bcg-second-last {
    top: 10%;
    left: 48%;
}

.bcg-second-darkpink-last {
    top: 12%;
    left: 48%;
}

.last-bcg-image {
    top: 13%;
    left: 48%;
    background: url(../img/last.png) no-repeat;
}

.sign-up-bord {
    width: 266px;
}

.sign-up {
    width: 266px;
    padding: 20px 0;
    border-radius: 31px;
    background-image: linear-gradient(0deg, #e77d7d 0%, #f89e9e 99%, #f89e9e 100%);
    border: 1px solid #000000;
    transition: all 1s ease;
}

.sign-up:hover {
    border-color: transparent;
    color: #fff;
    background-image: linear-gradient(0deg, #d6a0a0 0%, #ca7f7f 99%, #995252 100%);
}

.bottom-big-buble {
    top: 90%;
    left: 20%;
    width: 106px;
    height: 95px;
}

.buble-centr {
    top: 80%;
    left: 45%;
}

.buble-right {
    top: 85%;
    left: 95%;
}

.bottom-midle-buble,
.bottom-mudle-buble-two {
    top: 75%;
    left: 35%;
    width: 22px;
    height: 20px;
}

.bottom-mudle-buble-two {
    top: 90%;
    left: 85%;
}

.bottom-small-buble,
.bottom-mini-buble {
    top: 95%;
    left: 40%;
    width: 15px;
    height: 15px;
}

.bottom-mini-buble {
    left: 78%;
}

.bottom-mini-buble-two {
    top: 90%;
    left: 55%;
    width: 10px;
    height: 9px;
}

.map {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 577px;
    border: none;
}

.map-bcg {
    position: absolute;
    top: -65px;
    width: 100%;
    height: 577px;
}

.bottom-contact {
    position: relative;
    top: 65px;
    left: 150px;
    width: 627px;
    height: 345px;
    background-color: #fff5f5;
    border-radius: 20px;
}

.bottom-contact h2 {
    margin: 0;
    padding: 80px 0 50px;
    font-size: 48px;
    color: #000000;
    font-weight: 800;
    text-align: center;
}

.contact ul {
    margin: 0;
    padding-left: 120px;
}

.contact ul > li > a {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
}

.mail-botoom {
    margin-bottom: 39px;
} 

.mail-botoom, 
.phone-bottom {
    position: relative;
}

.contacts-icon li:hover > a {
    text-decoration: underline;
}

.icon-bootom-mail::before,
.icon-bottom-phone::before {
    content: "";
    position: absolute;
    background: url(../img/sprite.png);
}

.icon-bootom-mail::before {
    top: 0;
    left: -43px;
    width: 26px;
    height: 18px;
    background-position: -61px -2px;
}

.icon-bottom-phone::before {
    top: -5px;
    left: -40px;
    width: 24px;
    height: 24px;
    background-position: -89px -2px;
}

.phone-bottom {
    margin-bottom: 14px;
}

.social-bottom a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
}

a.inst-bott {
    position: absolute;
    top: 55%;
    right: 16%;
    height: 15px;
    width: 15px;
    background-position: -13px -2px;
}

li:hover>.inst-bott {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

a.fb-bott {
    position: absolute;
    top: 63%;
    right: 16.5%;
    height: 14px;
    width: 9px;
    background-position: -2px -2px;
}

li:hover>.fb-bott {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

a.pint-bott {
    position: absolute;
    top: 71%;
    right: 16.2%;
    height: 14px;
    width: 12px;
    background-position: -30px -2px;
}

li:hover>.pint-bott {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

a.telegram-bott {
    position: absolute;
    top: 78%;
    right: 16.3%;
    height: 13px;
    width: 15px;
    background-position: -44px -2px;
}

li:hover>.telegram-bott {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 1px red);
}

.footer p {
    margin-top: -65px;
    padding: 22px 0 0;
    font-size: 16px;
    color: #757575;
    font-weight: 600;
    text-align: center;  
}
